h1{
    color : #000000;
    font-size:30px;
    text-align: center;
}

body{
    background-image: linear-gradient(to right, #FEFEFE, #5ea4f0);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #4CAF50; /* Green background for header */
    color: white; /* White text for header */
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Light grey background for even rows */
}

tr:hover {
    background-color: #ddd; /* Light grey background on hover */
}