h1{
    color : #000000;
    font-size:50px;
    text-align: center;
}

img{
    margin:auto;
}

body{
    background-image: linear-gradient(to right, #FEFEFE, #4199ff);
}

table {
    width: 55%;
    border-collapse: collapse;
    margin:auto;

}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #000000; /* Green background for header */
    color: white; /* White text for header */
}

tr {
    background-color: #b8b8b8; /* Light grey background for even rows */
}

tr:hover {
    background-color: #85a5ff; /* Light grey background on hover */
}