{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'menu/style.css' %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device.width, initial-scale=1.0">
        <title>Homepage</title>
    </head>
    <body>
        <h1>Welcome to our Homepage</h1>
        <img src="{% static 'menu/alps.jpg' %}" alt="Homepage Image" width="600" height="400">

        <h2>List of Students</h2>
        <ul>
            {% for stud in students %}
            <li> {{ stud.fname }} - {{ stud.lname }} - {{ stud.email }}</li>
        {% empty %}
            <li>No Student; table is empty</li>
        {% endfor %}
        </ul>

    </body>

</html>